# ============================================================
# Dependências
# ============================================================
node_modules/
package-lock.json.bak

# ============================================================
# Expo e Builds Mobile
# ============================================================
.expo/
dist/
web-build/
expo-env.d.ts

# ============================================================
# Chaves e Código Nativo
# ============================================================
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/ios/
/android/

# ============================================================
# Metro e Logs
# ============================================================
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
*.log
*.tsbuildinfo

# ============================================================
# Sistema
# ============================================================
.DS_Store
